/* style.scss */

/* Base */
@import './base/reset';
@import './base/common';
@import './base/variables';
@import './base/mixin_media';
@import './base/Bubbles';

/* Fonts */
@font-face {
  font-family: 'Billabong';
  src: url('./fonts/Billabong.ttf') format('truetype'); /* 폰트 경로 수정 */
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* DESKTOP | Component */
@import './desktop/component/Nav';
@import './desktop/component/Card';

/* DESKTOP | Page */
@import './desktop/page/App';
@import './desktop/page/About';
@import './desktop/page/Skills';
@import './desktop/page/Projects';
@import './desktop/page/Contact';
@import './desktop/page/Footer';

/* TABLET | Component */
@import './tablet/component/Nav';
@import './tablet/component/Card';

/* TABLET | Page */
@import './tablet/page/App';
@import './tablet/page/About';
@import './tablet/page/Skills';
@import './tablet/page/Projects';
@import './tablet/page/Contact';
@import './tablet/page/Footer';

/* MOBILE | Component */
@import './mobile/component/Nav';
@import './mobile/component/Card';

/* MOBILE | Page */
@import './mobile/page/App';
@import './mobile/page/About';
@import './mobile/page/Skills';
@import './mobile/page/Projects';
@import './mobile/page/Contact';
@import './mobile/page/Footer';

/* 이미지 경로 수정 */
.profile-img {
  background-image: url('../images/profileImg.webp'); /* 상대 경로로 수정 */
}

.letter-img {
  background-image: url('../images/letter.jpg'); /* 상대 경로로 수정 */
}
