@include desktop() {
    .App {
        position: relative;
        font-family: 'Nanum Gothic', sans-serif;

        // background-color: rgb(51, 60, 68);
        .container {
            width: 90vw;
            margin: 0 auto;
        }

        section {
            padding: 60px 0; /* 상단과 하단 패딩을 줄여서 글씨가 더 위로 올라가도록 설정 */
            border-bottom: 2px dashed rgb(206, 184, 184);

            &#contact {
                border: none;
            }

            h2 {
                font-size: 36px;
                font-weight: 700;
                text-align: center;
                margin-bottom: 20px; /* 글씨 아래 여백을 추가 */
            }
        }
    }
}
